Flask==2.2.5
Flask-Cors==3.0.10
Flask-Limiter==3.5.0
deep-translator==1.11.4
reportlab==4.0.6
transformers==4.41.1
torch==2.3.0
beautifulsoup4==4.12.3
requests==2.32.3
lxml==5.2.1
Flask-RESTful==0.3.11